
          <div class="row">
  
            <div class="col m3 ">
  
              <form #productDetailForm="ngForm" (ngSubmit)="onSubmit(productDetailForm)">
  
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="_productDetailsService.selectedProductDetails._id">
  
                <div class="row">
  
                  <div class="input-field col s12">
                      <label>MinTHRange:
                          <label class="red-text">*</label> 
                          </label>
                    <input type="text" name="MinTHRange" #name="ngModel" [(ngModel)]="_productDetailsService.selectedProductDetails.MinTHRange" placeholder="Enter Minimum TH Range" required>
                  </div>
  
                </div>
  
                <div class="row">
  
                  <div class="input-field col s12">
                      <label>MaxTHRange :</label>
                    <input type="text" name="MaxTHRange" #name="ngModel" [(ngModel)]="_productDetailsService.selectedProductDetails.MaxTHRange" placeholder="Enter Maximun TH Range">
                  </div>
  
                </div>
  
                <div class="row">
  
                  <div class="input-field col s12">
                      <label>MinpHRange :</label>
                    <input type="text" name="MinpHRange" #name="ngModel" [(ngModel)]="_productDetailsService.selectedProductDetails.MinpHRange" placeholder="Enter Minimum pH Range">
                  </div>
  
                </div>
  
                <div class="row">
  
                  <div class="input-field col s12">
                      <label>MaxpHRange :</label>
                    <input type="text" name="MaxpHRange" #name="ngModel" [(ngModel)]="_productDetailsService.selectedProductDetails.MaxpHRange" placeholder="Enter Maximum pH Range">
                  </div>
  
                </div>

                <div class="row">
  
                  <div class="input-field col s12">
                      <label>ProductName :</label>
                    <input type="text" name="ProductName" #name="ngModel" [(ngModel)]="_productDetailsService.selectedProductDetails.ProductName" placeholder="Enter Product Name">
                  </div>
  
                </div>

                <div class="row">
  
                  <div class="input-field col s12">
                      <label>Dosage :</label>
                    <input type="text" name="Dosage" #name="ngModel" [(ngModel)]="_productDetailsService.selectedProductDetails.Dosage" placeholder="Enter Dosage Value">
                  </div>
  
                </div>

                
  
                <div class="row">
  
                  <div class="input-field col s12">
  
                    <button class="btn btn-custom right" type="button" (click)="resetForm(productDetailForm)">Reset</button>
  
                    <button class="btn btn-custom right" type="submit" [disabled]="!productDetailForm.valid">Submit</button>
  
                  </div>
  
                </div>
  
              </form>
  
            </div>
  
            <div class="col s9">
                <table>
                    <thead>
                      <tr>
                        <th>MinTHRange</th>
                        <th>MaxTHRange</th>
                        <th>MinpHRange</th>
                        <th>MaxpHRange</th>
                        <th>ProductName</th>
                        <th>Dosage</th>
                        <th>Actions</th>
                        </tr>
                    </thead>
                    <!-- <tr *ngFor="let products of _productDetailsService.products">
  
                      <td>{{products.MinTHRange}}</td>
  
                      <td>{{products}.MaxTHRange}}</td>
  
                      <td>{{products.MinpHRange}}</td>

                      <td>{{products.MaxpHRange}}</td>

                      <td>{{products.ProductName}}</td>

                      <td>{{products.Dosage}}</td>
  
                      <td></td>                     
  
                    </tr> -->
                  </table>
            </div>
  
          </div>
  

          