<div class="container">
  <div class="row">
    <div class="Centertext">
        
            <img src="../../assets/img//PennarLogo.png" id="Logo" alt="Pennar Logo Icon" />
          
    <h1 >Pennar Enviro Ltd</h1>
  </div><!--end of text-->
  <div class="col-md-12 col-sm-12 col-lg-12 btnGroup">
  <button  routerLink="/DealerSalesEng-signup" type="button" class="btn btn-dark button1">Dealer Sales Engineer</button>
  <button  type="button" class="btn btn-dark button2">Dealer</button>
  <button  type="button" class="btn btn-dark button3">Pennar Sales Engineer</button>
  <button   type="button" class="btn btn-dark button4">Sales Manager HO</button>
  <button routerLink="/login" type="button" class="btn btn-dark button1">Admin Of Software</button>
  </div><!--end of col-->
  </div><!--end of Col-->
  </div><!--end of Container-->